/* ::::: VARIABLES ::::: */
:root {
  --text: #5f5f5d;
}
/* ::::: end VARIABLES ::::: */


/* ::::: RESET ::::: */
/* Box sizing rules */
*,
*::before,
*::after,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* scroll-behavior: smooth; */
}
/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
  margin-bottom: 1rem;
}
/* Remove default margin */
body, h1, h2, h3, h4, p, 
ul[class],ol[class], li,
figure, figcaption,
blockquote, dl, dd {
  margin: 0;
}
h2, h3, h4, p {
  margin-bottom: 1rem;
}
/* Set core body defaults */
body {
  line-height: 1.35;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}
/* Remove list styles on ul, ol elements with a class attribute */
ul[class], ol[class] {
  list-style: none;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}
/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}
/* Inherit fonts for inputs and buttons */
input, button, textarea, select {
  font: inherit;
}
/* ::::: end RESET ::::: */


/* ::::: GLOBAL STYLES ::::: */
html, body {
  font-family: 'Open Sans', sans-serif;
}
hr {
  margin: 4rem 0;
}
p, q, ul, li, label {
  color: var(--text);
  font-size: 1.35rem;
}
ul.list.no-bullet {
  margin: .5rem auto;
  width: auto;
}
ul.list.no-bullet li::before {
  content: '';
  margin: 0;
}
main {
  width: 100%;
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4rem;
  padding: 1rem;
}
footer p {
  font-size: .75rem;
  margin: 0;
  padding: 0;
  text-align: center;
}
@media screen and (min-width: 960px) {
  main {
    margin: 0 auto;
    max-width: 1200px;
    min-width: auto;
  }
  section {
    width: 960px;
    margin: 0 auto;
  }
  footer p {
    font-size: 1rem;
    padding: 3rem 0;
  }
}
/* ::::: end GLOBAL STYLES ::::: */


/* ::::: HELPER CLASSES ::::: */
.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}
.fade-in {
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  visibility: visible;
}
.fade-out {
  -webkit-animation: fadeOut 2s;
          animation: fadeOut 2s;
  display: none;
  opacity: 0;
  visibility: none;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* ::::: HELPER CLASSES ::::: */


/* ::::: CUSTOM COMPONENTS ::::: */
.accordions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.accordions input {
  display: none;
}
.accordions label {
  background: var(--insta1);
  border-bottom: 1px solid var(--insta4);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: var(--insta4);
  cursor: pointer;
  display: block;
  margin: 0 0 1px 0;
  padding: 8px 45px 8px 1rem;
  position: relative;
  -webkit-transition: ease .5s;
  -o-transition: ease .5s;
  transition: ease .5s;
}
.accordions label:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--insta1)), color-stop(80%, var(--insta2)));
  background-image: -o-linear-gradient(top, var(--insta1), var(--insta2) 80%);
  background-image: linear-gradient(to bottom, var(--insta1), var(--insta2) 80%);
}
.accordions label::after {
  color: var(--insta3);
  content: '\f078';
  font-family: "Font Awesome 5 Free";
  font-size: 22px;
  font-weight: 600; /*won't display without this*/
  position: absolute;
  right: 1rem;
  top: 50%;
  text-shadow: 0 1px 2px var(--insta4);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.accordions input:checked + label::after {
	content: '\f077';
}
.accordions .accordion-content {
  border-bottom: 1px solid var(--insta2);
  border-left: 1px solid var(--insta2);
  border-right: 1px solid var(--insta2);
  border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: .25rem 1rem;
}
.accordions .accordion-content p:first-child {
  margin: .75rem 0 1rem;
}
.accordions input + label + .accordion-content {
  display: none;
  min-height: 0;
}
.accordions input:checked + label + .accordion-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 70px;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}
@media screen and (min-width: 768px){
  .accordions .accordion-content {
    padding: .65rem 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .accordions.tabbed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .accordions.tabbed .accordion-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .accordions.tabbed input {
    display: none;
  }
  .accordions.tabbed label {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: var(--insta1);
    border-bottom: 1px solid var(--insta4);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: var(--insta4);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 0 0 1px 0;
    min-height: 8.5rem;
    padding: 24px 22px;
    position: relative;
    -webkit-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s;
  }
  .accordions.tabbed label:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--insta1)), color-stop(80%, var(--insta2)));
    background-image: -o-linear-gradient(top, var(--insta1), var(--insta2) 80%);
    background-image: linear-gradient(to bottom, var(--insta1), var(--insta2) 80%);
  }
  .accordions.tabbed input + .arrow::after {
    background-color: var(--insta1);
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .accordions.tabbed input + .arrow.select::after {
    background-color: var(--insta3);
    right: -20px;
  }
  .accordions.tabbed .accordion-content {
    border: none;
    margin: 0 0 1px 0;
    padding: 0 25px;
    width: 50%;
  }
  .accordions.tabbed .accordion-content.hide {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  .accordions.tabbed .accordion-content.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
      right: 0;
      top: 0;
    opacity: 1;
    visibility: visible;
  }
  .accordions.tabbed input + label + .accordion-content {
    display: none;
    height: 0;
  }
  .accordions.tabbed input:checked + label + .accordion-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/* ::::: end CUSTOM COMPONENTS ::::: */


/* ::::: FONTS  ::::: */
/* @font-face {
  font-family: 'font name here';
  src: url('assets/fonts/font-name.ttf');
} */
/* ::::: end FONTS  ::::: */


/* --- NAVIGATION --- */
/* --- end NAVIGATION --- */
/* --- HOME --- */
/* --- end HOME --- */
/* --- ABOUT --- */
/* --- end ABOUT --- */
/* --- SERVICES --- */
/* --- end SERVICES --- */
/* --- TESTIMONIALS --- */
/* --- end TESTIMONIALS --- */
/* --- CONTACT --- */
/* --- end CONTACT --- */


/* ::::: MOBILE (min-width: 375px) ::::: */
@media screen and (min-width: 375px){

}
/* ::::: end MOBILE (min-width: 375px)  ::::: */


/* ::::: SM TABLET / MOBILE - LANDSCAPE (min-width: 620px) ::::: */
@media screen and (min-width: 620px) {

}
/* ::::: end SM TABLET / MOBILE - LANDSCAPE (min-width: 620px)  ::::: */


/* ::::: TABLET / LG MOBILE - LANDSCAPE (min-width: 768px) ::::: */
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}
/* ::::: end TABLET / LG MOBILE - LANDSCAPE (min-width: 768px)  ::::: */


/* ::::: TABLET - LANDSCAPE / LAPTOP (min-width: 1024px) ::::: */
@media screen and (min-width: 1024px) {

}
/* ::::: end TABLET - LANDSCAPE / LAPTOP (min-width: 1024px) ::::: */


/* ::::: DESKTOP (min-width: 1200px) ::::: */
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}
/* ::::: end DESKTOP (min-width: 1200px) ::::: */
